body {
    font-family: sans-serif;
}

.title-card {
    display: block;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
}

h2 {
    border: solid 1px lightblue;
    margin: 0;
    padding: 0;
}

.master-div {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.master-div div {
    display: block;
    background-color: rgb(227, 249, 252);
    padding: 3px;
    margin: 20px;
    width: 315px;
    height: 540px;
    text-align: center;
    border: 30px black;
    border-radius: 1px;
    box-shadow: 8px 5px gray;
}

.div-1 {
    border: solid black;
}

.section-1 {
    position: relative;
    top: 80px;
    display:block;
    height: 50px;
    margin: 0;
    padding: 0;
}

.section-2 {
    position: relative;
    display: block;
    clear: none;
    top: 330px;
    left: 10px;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 4px;
}

.section-3 {
    position: relative;
    width: 60px;
    height: 20px;
    top: 316px;
    left: 15px;
    line-height: 3px;
    border-left: 3px;
    margin: 0;
    padding: 0;
}

p {
    position: relative;
    bottom: 30px;
}

.prod-id {
    text-align: left;
    position: relative;
    bottom: 17px;
    font-size: 11px;
}

h4 {
    text-align: left;
    position: relative;
    bottom: 6px;
    font-weight: 400;
}

img {
    position: relative;
    display: block;
    bottom: 80px;
    width: 260px;
    height: 260px;
}

.available {
    text-align: justify;
    font-weight: 800;
    color: yellow;
    height: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: slategrey;
}

footer {
    clear: none;
    position: relative;
    display: block;
    bottom: 20px;
    right: 115px;
    font-size: 9px;
}




