body {
    background-color: khaki;
    font-family: Arial, Helvetica, sans-serif;
}

.fixed {
    position: fixed;
}

.disappear {
    display: none;
}

.image::after {
    content: url("https://raw.githubusercontent.com/morecallan/css102-e6/master/images/soldOut.png");
    opacity: 1;
    position: relative;
    right: 55px;
    bottom: 80px;
}

.reappear {
    display: block;
}

.title-card {
    display: block;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
}

button {
    text-align: center;
    position: relative;
    left: 644px;
    margin: 0 auto;
}

h2 {
    position: relative;
    bottom: 19.5px;
    border: solid 1px lightblue;
    border-radius: 3px;
    display: block;
}

.master-div {
    margin: auto;
    width: 90%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.subflex {
    border: 1px solid lightblue;
    background-color: #FEFEFA;
    display: block;
    margin: 20px;
    width: 315px;
    height: 540px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 20px 18px rgb(138, 137, 137);
    padding: 0;
}

.section-1 {
    text-align: center;
    position: relative;
    top: -3px;
    display: block;
    height: 50px;
    margin: 0;
    margin-left: 1px;
    padding: 0.5px;
}

.section-2 {
    position: relative;
    display: block;
    clear: none;
    top: 296px;
    left: 10px;
    height: 40px;
    padding: 0;
    margin: 0;
    line-height: 3px;
}

.section-3 {
    position: relative;
    width: 80px;
    height: 10px;
    top: 289px;
    left: 15px;
    line-height: 3px;
    border-left: 3px;
    margin: 0;
    padding: 0;
}

p {
    padding : 0px;
    position: relative;
    bottom: 30px;
}

.prod-id {
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    bottom: 17px;
    font-size: 11px;
}

h4 {
    text-align: left;
    position: relative;
    bottom: 7px;
    font-weight: 400;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
    padding: 0;
    position: relative;
    display: block;
    left: 83px;
    bottom: 2px;
    width: 150px;
    height: 150px;
}

.available {
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    right: 1px;
    bottom: 25px;
    font-size: 12px;
    color: yellow;
    height: 20px;
    width: 309px;
    padding: 3px;
    margin: 0px;
    background-color: rgb(111, 111, 112);
}

footer {
    text-align: left;
    position: relative;
    display: block;
    bottom: 18px;
    font-size: 9px;
}

.description {
    padding: 3px;
    margin-top: 25px;
    font-size: 13.5px;
    text-align: justify;
    text-justify: inter-word;
}

strong {
    font-weight: 500;
    text-align: justify;
    position: relative;
    left: 5px;
    top: 2px;
}

.strikethrough {
    text-decoration: line-through;
}

.bold {
    font-weight: 700;
}

.prod-specs {
    position: relative;
    left: 10px;
}

.price {
    position: relative;
    left: 7px;
}

.price-head {
    position: relative;
    right: 4px;
}

.foot {
    position: relative;
    right: 8px;
}




